# can download by running: bash requirement.txt
pip3 install pandas
pip3 install bs4
pip3 install datetime
pip3 install apscheduler
# pip3 install virtualenv
# sudo apt-get install python3-venv
pip3 install GitPython
pip3 install sodapy 

pip3 install dash
pip3 install numpy
conda install plotly -y

pip3 install requests

# For Longitude Latitude to Census Tract
# pip3 install geopandas
# conda install --channel conda-forge geopandas
# conda install -c conda-forge geopandas
# pip3 install git+git://github.com/geopandas/geopandas.git
sudo apt-get install python3-geopandas # works finally!
pip3 install matplotlib     # to plot 
pip3 install descartes      # to plot




# didnt use do del
# pip3 install pygeocoder
# pip3 install geocoder

